@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

html,body{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #1a1b1d;
}

main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#drum-machine{
    display: flex;
}

.drum-pad{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: none;
    width: 50%;
    margin: 0 10%;
}

p{
    font-size: 1.5rem;
}
